@font-face {
	font-family: 'typicons';
	src: url(../../assets/fonts/typicons.eot) format('embedded-opentype'),
	url(../../assets/fonts/typicons.eot) format('embedded-opentype'),
	url(../../assets/fonts/typicons.woff) format('woff'),
	url(../../assets/fonts/typicons.ttf) format('truetype'),
	url(../../assets/fonts/typicons.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}